<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Daily Update</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1 id="header"> The Daily Update</h1>
  
<nav>
  <ul>
    <li><a href="/weather">Weather</a></li>
    <li><a href="joke">Joke</a></li>
    <li><a href="word">Word</a></li>
  </ul>
</nav>


  <h1 id="title">This website has an option of showing you the weather for the day, the joke of the day or the word of the day. </h1>
    
    


  
  
</body>
</html>