<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Daily Update</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1> The Daily Update</h1>
  
<nav>
  <ul>
    <li><a href="Weather.erb">Home</a></li>
    <li><a href="Joke.erb">About</a></li>
    <li><a href="Word.erb">Help</a></li>
  </ul>
</nav>


  <h2> <%= @joke %> <h2>
    <h2> <%= @weather %> <h2>
      <h2> <%= @word %> <h2>


  
  
</body>
</html>